

@font-face {
    font-family: 'Girlroy-semibold';
    src: url('../fonts/gilroy-semibold.ttf') format('truetype');
}
a{
    text-decoration: none;
    color: inherit;
}
ul, li ,ol{
    list-style: none;
}
*, ::before, ::after{
    padding: 0;
    margin: 0;  
    border: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html, body{
    height: 100%;
    line-height: 1;
}
button,
input,
textarea{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button{
    cursor: pointer;
    background-color: inherit ;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Girlroy-semibold';
    font-weight: 400;
    font-size: 20px;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
.wrapper > main{
    flex-grow: 1;
}
.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 140px;
}
/*HEADER */
.header{
    padding: 26px 0;
    border-bottom:  1px solid #c4c4c4;
}
.menu__btn{
    width: 24px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    padding: 0;
    display: none;
}
.menu__btn span{
   background-color: #fff;
   height: 2px;
   width: 100%;

}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-list{
    display: flex;
    gap: 15px;
}
.menu__list-link{
    position: relative;
    text-transform: uppercase;
}
.menu__list-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}
.menu__list-link.green::after{
    background: green;
}
.menu__list-link.red::after{
    background: #bc183f;
}
.menu__list-link.orange::after{
    background: #ff825c;
}
.menu__list-link.light_green::after{
    background: #3bb598;
}
.menu__list-link.blue::after{
    background: #1d55b6;
}
.menu__list-link.violet::after{
    background: #6345b5;
}
.menu__list-link.pink::after{
    background: #c11475;
}

.menu__list-link:hover::after {
    transform: scaleX(1);
  }
  
.menu__list-shop svg path, .beer__buy-btn svg path{
    transition: all .3s ease;
    color: #fff;
}
.menu__list-shop svg:hover path, .beer__buy-btn svg:hover path{
    fill: #6345b5;
}

/* main */
.main__page{
    padding-top: 140px;
    margin-bottom: 70px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page__images{
    width: 450px;
    padding-bottom: 80px;
}
.page__images img{
    width: 100%;
}
.page-btn{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid #c4c4c4;
    padding: 28px 84px;
    transition: all .3s ease;
}
.page-btn:hover{
    border: 1px solid #6345b5;
}

.social__list {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.social__list-link svg path{
    transition: all .3s ease;
}
.social__list-link svg:hover path{
    fill: #6345b5;
}
/* FOOTER */
.footer__content{
    border-top:  1px solid #c4c4c4;
}
.footer-menu{
    max-width: 1052px;
    margin: 0 auto;
    padding: 40px 0;
}
.footer__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
}
.footer__contact-number{
    transition: all .3s ease;
    color: #fff;
}
.footer__contact-number:hover{
    color: #6345b5;
}

.footer__social-list{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__parthner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}



.beer__content{
    margin-bottom: 100px;
}
.beer__cards{
    margin: 60px 0 ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    row-gap: 20px;
}
.beer__card{
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 34px 16px;
}
.beer__card a{
    display: flex;
    flex-direction: column;
}
.beer-name{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 14px;
    flex-basis: 67px;
    color: #fff;
    transition: all .3s ease;
}
.beer-name:hover{
    color: #6345b5;
}

.beer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
}
.beer-desc{
    font-weight: 400;
    font-size: 20px;
    color: #c1e1ff;
}
.beer-info{
    display: flex;
    gap: 15px;
}
.beer-litre{
    text-transform: uppercase;
}
.beer__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pagination__link{
    font-size: 32px;
    color: #fff;
    padding: 24px 32px;
    border: 1px solid #fff;
    font-weight: 400;
    transition: all 0.3s ease;
}
.pagination__link:hover{
    color: #292929; 
    border-color: #292929;
}
.pagination__link.active{
    color: #292929;
    border: 1px solid #292929;
}
.pagination__link.active:hover{
    color: #fff;
    border-color: #fff; 
    transition: all .3s ease;
}
:root {
    --color-main: #e0dede;
    --color-main-medium: #868484;
    --color-main-dark: #333;
    --color-main-light: #f5f4f4;
    --color-main-lighter: #272626;
    --color-second: #000;
    --color-third: #fff;
}
.hidden {
  display: none;
}
.pagination {
    background-color: var(--color-main-lighter);
    padding: 20px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 29px -3px rgba(34, 60, 80, 0.11);
}

.pagination-item, .pagination-btn {

  font-size: 14px;
  font-weight: 500;
  color: #84868E;
  border-radius: 3px;
  cursor: pointer;
  margin: 2px;
  background-color: var(--color-main-lighter);
  user-select: none;
  border: 1px solid var(--color-main);
}
.pagination-item{
  height: 30px;
  width: 30px;
}
.pagination-btn {
    font-weight: 700;
  height: 30px;
  width: 35px;
  margin: 0 25px;
}

.pagination-item.active {
  color: var(--color-third);
  background: var(--color-second);
  border: 1px solid var(--color-second);
}